body {
    font-family: "Poppins", Arial, sans-serif;
    background: linear-gradient(135deg, #e0f7ff, #ffe6f7, #fff5cc);
    margin: 0;
    padding: 20px;
    text-align: center;
    min-height: 100vh;
}

/* Logo */
.logo {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-top: 20px;
}

/* Heading */
h1 {
    color: #5b2cff;
    font-size: 32px;
    margin-bottom: 5px;
}

p {
    color: #444;
    font-size: 18px;
}


/* Chat Area */
#chatBox {
    width: 90%;
    max-width: 650px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


/* User Message */
.userMessage {
    background: #6c63ff;
    color: white;
    padding: 15px;
    border-radius: 20px 20px 5px 20px;
    text-align: right;
    margin-left: 20%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}


/* AI Message */
.aiMessage {
    background: white;
    color: #333;
    padding: 15px;
    border-radius: 20px 20px 20px 5px;
    text-align: left;
    margin-right: 20%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.12);
}


/* Question Box */
textarea {

    width: 85%;
    max-width: 650px;
    height: 120px;

    padding: 15px;

    font-size: 16px;

    border-radius: 20px;

    border: 2px solid #b8a8ff;

    outline: none;

    resize: none;

    background: white;

}


/* Button */

button {

    background: linear-gradient(45deg,#ff4ecd,#6c63ff);

    color: white;

    border: none;

    padding: 14px 35px;

    font-size: 17px;

    border-radius: 30px;

    cursor: pointer;

    margin: 10px;

    box-shadow: 0 5px 15px rgba(0,0,0,0.2);

}


button:hover {

    transform: scale(1.05);

}


/* Answer Box */

#answer {

    background: white;

    width: 85%;

    max-width: 650px;

    margin: 25px auto;

    padding: 20px;

    border-radius: 20px;

    text-align: left;

    box-shadow: 0 5px 20px rgba(0,0,0,0.15);

}


/* Mobile */

@media(max-width:600px){

    h1{
        font-size:25px;
    }


    textarea,
    #answer{

        width:95%;

    }


    .userMessage,
    .aiMessage{

        margin-left:5%;
        margin-right:5%;

    }

}
